.project
api-docs
api-userdocs
api-dcdocs
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
mglib-test-results.html
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
install_manifest.txt
mglib-*.tar.gz
TestIDLVersion.c
build
*.so.tar.gz
/src/learn/data/lfw
/src/learn/data/mldata
