[project]
	description = IDL library of Michael Galloy
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Galloy (mgalloy)
[access "refs/for/refs/*"]
	read = group user/Michael Galloy (mgalloy)
	push = group user/Michael Galloy (mgalloy)
	label-Code-Review = -2..+2 group user/Michael Galloy (mgalloy)
	label-Verified = -1..+1 group user/Michael Galloy (mgalloy)
	rebase = group user/Michael Galloy (mgalloy)
	removeReviewer = group user/Michael Galloy (mgalloy)
	submit = group user/Michael Galloy (mgalloy)
[access "refs/heads/*"]
	read = group user/Michael Galloy (mgalloy)
	create = group user/Michael Galloy (mgalloy)
	push = +force group user/Michael Galloy (mgalloy)
	pushMerge = group user/Michael Galloy (mgalloy)
[access "refs/tags/*"]
	push = group user/Michael Galloy (mgalloy)
	push = +force group user/Michael Galloy (mgalloy)
